@import './var.scss';

.about {
    &-hero {
        width: 100%;
        height: calc( 100vh - 70px );
        max-height: 800px;
        background-color: $dark-purple;
        color: white;
        &-header {
            // text-align: center;
            font-family: $heading-font;
            width: 100%;
            font-size: 40px;
            padding-bottom: 25px;
        }
        &-subtext {
            width: 100%;
            // text-align: center;
            font-family: $subtext-font;
            font-size: 20px;
        }
        &-image {
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
        &-text {
            &-container {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &-story {
        height: 400px;
        color: black;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 100px;
        @media (min-width: 1450px) {
            padding-right: 20%;
        }
        &-image {
            width: 50%;
            // padding-left: 10%;
            height: 100%;
            object-fit: cover;
            vertical-align: top;
        }
        &-text{
            padding: 50px 0px 50px 100px;
            display: inline-block;
            width: 49%;
            vertical-align: top;
            
        }
        &-header {
            font-family: $heading-font;
            font-size: 30px;
            margin-bottom: 25px;
        }
        &-subtext {
            font-family: $subtext-font;
            font-size: 14px;
            

        }
    }
    &-values {
        background-color: $pink;
        padding: 100px;
        @media (min-width: 1450px) {
            padding: 100px 20%;
        }
        &-card {
            width: 25%;
            // height: 300px;
            color: white;
            display: inline-block;
            vertical-align: top;
            &-middle {
                width: 25%;
                margin-left: 12%;
                margin-right: 12%;
                color: white;
                display: inline-block;
                vertical-align: top;
            }
        }
        &-title {
            text-align: center;
            font-size: 30px;
            font-family: $heading-font;
            margin-bottom: 25px;
            width: 100%;
        }
        &-text {
            font-size: 16px;
            font-family: $subtext-font;
            text-align: justify;
        }
        &-icon {
            text-align: center;
            font-size: 30px;
            margin-bottom: 25px;
        }
    }
}