.hero {
    &-container {
        width: 100%;
        height: calc( 100vh - 70px );
        max-height: 800px;
    }
    &-image {
        width: 100%;
        height: calc( 100vh - 70px );
        max-height: 800px;
        object-fit: cover;
    }
}