@import './var.scss';

.navbar {
    position: relative;
    &-shop {
        color: white;
        &-drop {
            color: white;
            font-size: 18px;
            font-family: $subtext-font;
        }
        &-menu {
            background-color: $purple;
            color: white;
        }
    }
    &-branding {
        font-family: $heading-font;
        position: absolute;
        top: 0px;
        font-size: 30px;
        color: white;
        line-height: 70px;
        left: 50%;
        transform: translate( -50%);
    }
    &-container {
        background-color: $purple;
        min-height: 70px;
    }
    &-item {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        font-family: $subtext-font;
    }
    &-item-container {
        height: 100%;
    }
}

@include media-breakpoint-up(sm) {
    .navbar {
        &-shop {
            position: absolute;
            right: 25px;
            top: 15px;
        }
        &-item {
            padding-left: 25px;
        }
    }
}