@import "~bootstrap/scss/bootstrap";
@import './var.scss';
@import './navbar.scss';
@import './hero.scss';
@import './news.scss';
@import './products.scss';
@import './contact.scss';
@import './about.scss';

body {
    margin: 0px;
    font-family: $subtext-font;
}

a:hover {
    text-decoration: none;
    color: black;
}